<html>
    <head>
        <title>Yggdrasil - BCC</title>
        <meta charset="utf8">

        <!-- STYLES -->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">


        <!-- SCRIPTS -->
        <script src="bower_components/angular/angular.min.js"></script>

        <!-- JS DO SISTEMA -->
        <script src="scripts/app.js"></script>

    </head>
    <body ng-app="yggdrasil">
        <div class="header">
            <img src="images/mestre.png">
            <div class="header-middle">
                <div class="header-title blue border-blue">
                    Yggdrasil
                </div>
                <div class="subtitle">
                    Descomplicando as trilhas do BCC
                </div>
            </div>
            <img src="images/algoz.png">
        </div>
        <div class="content row nomargin" ng-controller="AppCtrl">
            <div class="col-md-8 nopadding">
                <div class="skill-list">
                    <div ng-repeat="track in tracks">
                        <div class="skill-title blue">
                            {{track.name}}
                        </div>
                        <div class="skill-box">
                            <div class="skill-img-wrap hidden-xs hidden-sm">
                                <img ng-src="images/{{track.icon}}.png" class="skill-img">
                            </div>
                            <div ng-repeat="row in track.skills" class="skill-row">
                                <div class="skill" ng-repeat="skill in row" ng-class="{'empty' : skill.empty, 'selected' : (skill == selectedSkill && showPanel)}" ng-click="selectSkill(skill)">
                                    <div class="skill-name">{{skill.name}}</div>
                                    <div class="empty-skill-icon" ng-if="skill.empty"></div>
                                    <img class="skill-icon" ng-if="!skill.empty" ng-src="images/skills/{{skill.icon}}.gif">
                                    <div class="skill-code blue">{{skill.code}}</div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawer-skill-info" ng-class="showPanel  ? '' : 'archived'">
                <div class="skill-info">
                    <div class="skill-name bg-blue">
                        <h3>{{selectedSkill.name}}</h3>
                        <p>{{selectedSkill.code}}</p>
                        <div class="close-skill" ng-click="deselect()">
                            <span>&times;</span>
                        </div>
                    </div>
                    <div class="skill-desc">
                        <h3>Semestre ideal: <span class="blue bold">{{selectedSkill.semester}}º</span></h3>
                        <p>{{selectedSkill.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            by Gustavo Silva @ IME Workshop. Imagens são copyright de Ragnarok Online.
        </div>
    </body>
</html>