<html>
    <head>
        <title>Yggdrasil - BCC</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- STYLES -->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">


        <!-- SCRIPTS -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-slimscroll-aiska/angular-slimscroll-aiska.min.js"></script>


        <!-- JS DO SISTEMA -->
        <script src="scripts/app.js"></script>

    </head>
    <body ng-app="yggdrasil" ng-controller="AppCtrl" ng-class="showPanel ? 'locked' : ''">

        <div class="header">
            <img src="images/mestre.png">
            <div class="header-middle">
                <div class="header-title blue border-blue">
                    Yggdrasil
                </div>
                <div class="subtitle">
                    Descomplicando as trilhas do BCC <span class="beta blue">BETA</span>
                </div>
            </div>
            <img src="images/algoz.png">
        </div>
        <div class="content row nomargin">
            <div class="col-md-8 nopadding">
                <div class="skill-list">
                    <div ng-repeat="track in tracks">
                        <div class="skill-title blue" ng-click="track.collapsed = !track.collapsed">
                            {{track.name}}
                            <div class="arrow" ng-class="track.collapsed ? 'arrow-left' : 'arrow-down'"></div>
                        </div>
                        <div class="track-message" ng-show="track.message && !track.collapsed">
                            {{track.message}}
                        </div>
                        <div class="skill-box" ng-hide="track.collapsed">
                            <div class="skill-img-wrap hidden-xs hidden-sm">
                                <img ng-src="images/{{track.icon}}.png" class="skill-img">
                            </div>
                            <div ng-repeat="row in track.skills" class="skill-row">
                                <div class="skill-wrap" ng-repeat="skill in row" ng-class="getBlockClasses(skill)">
                                    <div class="skill" ng-click="selectSkill(skill, 'reset')" ng-class="getSkillClasses(skill)">
                                        <div class="skill-name">{{skill.name}}</div>
                                        <div class="empty-skill-icon" ng-if="skill.empty"></div>
                                        <img class="skill-icon" ng-if="!skill.empty" ng-src="images/skills/{{skill.code}}.gif">
                                        <div class="skill-code blue">{{skill.code}}</div>
                                    </div>
                                    <div class="block-label" ng-show="skill.block && angular.equals(skill.position, skill.block.name_position)" ng-class="['bg-'+skill.block.color, skill.block.half_name ? 'half-name' : '']">
                                        <b>{{skill.block.name}}</b> ({{skill.block.rate}})
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop" ng-click="deselect()" ng-show="showPanel"></div>
            <div class="drawer-skill-info" ng-class="showPanel  ? '' : 'archived'">
                <div class="skill-info">
                    <div class="skill-name bg-blue">
                        <h3>{{selectedSkill.name}}</h3>
                        <p>{{selectedSkill.code}}</p>
                        <div class="close-skill" ng-click="deselect()">
                            <span>&times;</span>
                        </div>
                    </div>
                    <div class="skill-desc">
                        <h3 ng-show="selectedSkill.semester"><b>Semestre ideal: <span class="blue">{{selectedSkill.semester}}º</span></b></h3>
                        <h3><b>Créditos: <span class="blue">{{selectedSkill.credits}}</span><span class="light-gray">+</span>{{selectedSkill.wcredits || 0}}</b></h3>
                        <p>{{selectedSkill.description}}</p>
                        <div class="skill-jupiter">
                            <a class="blue" target="_blank" href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis={{selectedSkill.code}}">Ver no Jupiter</a>
                        </div>
                    </div>
                    <div class="skill-requires" ng-if="selectedSkill.dependencies.length > 0">
                        <h3>Pré-requisitos</h3>
                        <div class="require" ng-repeat="dep in selectedSkill.deps" ng-click="selectSkill(dep, 'push')">
                            <img ng-src="images/skills/{{dep.code}}.gif">
                            <div>
                                <h4 class="blue">{{dep.code}}</h4>
                                <p>{{dep.name}}</p>
                            </div>
                        </div>
                    </div>
                    <span class="skill-back blue" ng-click="popStack()" ng-show="skillStack.length > 0">Voltar para {{skillStack[skillStack.length - 1].code}}</span>
                </div>
            </div>
        </div>
        <div class="footer">
            by Gustavo Silva @ IME Workshop. Imagens são copyright de Ragnarok Online. Agradecimentos: Vitor Santa Rosa e Luís Felipe
        </div>
    </body>
</html>