body {
    font-family: "Open Sans", "Arial", sans-serif;
    background-color: #F5F5F5;
}

body.locked {
    overflow: hidden;
}

.header {
    background-color: #F0F0F0;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-middle {
    margin: 0 20px;
}

.header .header-title {
    border-top: 5px solid #666;
    border-bottom: 5px solid #666;
    color: #666;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: inline;
}

.header .subtitle {
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: -5px;
    color: #999;
}

.header .subtitle .beta {
    font-size:12px;
    position: relative;
    top: -8px;
}


/* CONTENT */

.content .skill-list {
    border-right: 1px solid #DDD;
}

.content .skill-list .loading {
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
    color: #999;
}

.content .skill-list .loading .fa-spin{
    font-size: 32px;
    color: #666;
    position: relative;
    right: 7px;
    top: 3px;
}

.content .skill-list .skill-title {
    background-color: #F5F5F5;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    text-align: center;
    position: relative;
}

.content .skill-list .skill-title .arrow {
    position: absolute;
    font-size: 32px;
    margin-top: -2px;
}

.content .skill-list .skill-title .arrow.fa-caret-right {
    right: 25px;
}

.content .skill-list .skill-title .arrow.fa-caret-down {
    right: 20px; 
}

.content .skill-list .skill-title:hover {
    cursor: pointer;
}

.content .skill-list .track-message {
    background-color: white;
    border-bottom: 1px solid #EEE;
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    color: #777;
}

.content .skill-list .skill-box {
    padding: 20px 10px;
    background-color: white;
    border-bottom: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content .skill-list .skill-box.fast {
    background-color: rgba(138, 34, 155, 0.08);
}

.content .skill-list .skill-box .skill-img-wrap {
    position: absolute;
    top: 50%;
    right: -10%;
    height: 170px;
}

.content .skill-list .skill-box .skill-img-wrap .skill-img {
    position: absolute;
    top: -50%;
    left: 0;
    height: 100%;
    z-index: -1;
}

.content .skill-list .skill-box .skill-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.content .skill-list .skill-box .skill-wrap {
    width: 16.5%;
    margin-bottom: 30px;   
    position: relative;
}

.content .skill-list .skill-box .skill-wrap .block-label {
    position: absolute;
    bottom: -25px;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    width: 150%;
    margin-left: -25%;
}

.content .skill-list .skill-box .skill-wrap .block-label .fa {
    font-size: 17px;
    position: relative;
    left: 3px;
    top: 1px;
}

.content .skill-list .skill-box .skill-wrap .block-label.half-name {
    margin-left: 25%;
}

.content .skill-list .skill-box .skill-wrap.block-top-left {
    border-top-left-radius: 8px;
}

.content .skill-list .skill-box .skill-wrap.block-top-right {
    border-top-right-radius: 8px;
}

.content .skill-list .skill-box .skill-wrap.block-bottom-left {
    border-bottom-left-radius: 8px;
}

.content .skill-list .skill-box .skill-wrap.block-bottom-right {
    border-bottom-right-radius: 8px;
}

.content .skill-list .skill-box .skill-wrap.block-top {
    border-top: 3px solid transparent;
}

.content .skill-list .skill-box .skill-wrap.blocked:not(.block-bottom) {
    margin-bottom: 0;
}

.content .skill-list .skill-box .skill-wrap.block-bottom {
    border-bottom: 3px solid transparent;
}

.content .skill-list .skill-box .skill-wrap.block-left {
    border-left: 3px solid transparent;
}

.content .skill-list .skill-box .skill-wrap.block-right {
    border-right: 3px solid transparent;
}

.content .skill-list .skill-box .skill {
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
}

.content .skill-list .skill-box .skill:not(.empty):hover {
    background-color: rgba(100,100,100,0.1);
    cursor: pointer;
}

.content .skill-list .skill-box .skill.selected {
    background-color: rgba(100,100,100,0.1);
}

.content .skill-list .skill-box .skill .skill-name {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    height: 36px;
    overflow: hidden;
}

.content .skill-list .skill-box .skill .skill-code {
    font-size: 15px;
    text-align: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.content .skill-list .skill-box .skill .skill-icon {
    width: 40px;
    height: 40px;
}

.content .skill-list .skill-box .skill .empty-skill-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px dashed #DDD;
    margin: 0 auto;
}

.content .skill-list .skill-box .skill .skill-badge {
    width: 22px;
    height: 22px;
    border-radius: 40px;
    position: absolute;
    top: 70px;
    right: 42px;
    display: none;
}

.content .skill-list .skill-box .skill .skill-badge span {
    font-size: 15px;
    color: #F2F2F2;
    padding-top: 4px;
}



.content .skill-list .skill-box .skill.done .skill-code,
.content .skill-list .skill-box .skill.locked .skill-code,
.content .skill-list .skill-box .skill.doing .skill-code {
    color: #888 !important;
}

.content .skill-list .skill-box .skill.done .skill-name,
.content .skill-list .skill-box .skill.locked .skill-name,
.content .skill-list .skill-box .skill.doing .skill-name {
    color: #AAA;
}

.content .skill-list .skill-box .skill.done .skill-icon,
.content .skill-list .skill-box .skill.locked .skill-icon,
.content .skill-list .skill-box .skill.doing .skill-icon {
    filter: grayscale(100%) opacity(50%);
}

.content .skill-list .skill-box .skill.done .done-badge,
.content .skill-list .skill-box .skill.locked .locked-badge,
.content .skill-list .skill-box .skill.doing .doing-badge {
    display: block;
}

.content .skill-list .skill-box.doing {
    padding-top: 30px;
}

.content .skill-list .skill-box.doing .doing-text {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    letter-spacing: -0.3;
    top: 5px;
    left: 10px;
    font-size: 16px;
}

.content .skill-list .skill-box.doing .skill-wrap {
    margin-bottom: 0;
}

.content .skill-list .add-skill-box {
    background-color: white;
    padding: 16px 0 8px;
    position: relative;
}

.content .skill-list .add-skill-box.fast {
    background-color: rgba(138, 34, 155, 0.08);
}

.content .skill-list .add-skill-box .add-skill-button {
    text-align: center;
    font-size: 18px;
    background-color: #EEE;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.content .skill-list .add-skill-box .add-skill-button:hover {
    cursor: pointer;
    background-color: #DDD;
}

.content .skill-list .add-skill-box .add-skill-button .fa-plus-circle {
    font-size: 28px;
    margin-right: 10px;
}

.content .skill-list .add-skill-box .add-skill-button .text {
    position: relative;
    top: 2px;
}

.content .skill-list .add-skill-box .add-skill-backdrop {
    background-color: black;
    width: 100%;
    height: 785px;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.8;
}

.content .skill-list .add-skill-box .add-skill-form {
    background-color: #EEE;
    padding: 15px 20px;
    width: 50%;
    border-radius: 12px;
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 25%;
}

.content .skill-list .add-skill-box .add-skill-form .selectbox {
    display: flex;
    display: -webkit-flex;
    border: 3px solid black;
    border-radius: 8px;
}

.content .skill-list .add-skill-box .add-skill-form .selectbox .option {
    width: 50%;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.content .skill-list .add-skill-box .add-skill-form .selectbox .option:hover {
    cursor: pointer;
}

.content .skill-list .add-skill-box .add-skill-form .closer {
    position: absolute;
    right: 20px;
}

.content .skill-list .add-skill-box .add-skill-form .closer:hover {
    cursor: pointer;
    color: #666 !important;
}

.content .skill-list .add-skill-box .add-skill-form h3 {
    margin-top: 0;
    font-size: 20px;
}

.content .skill-list .add-skill-box .add-skill-form label {
    color: #666;
    margin-bottom: 2px;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input {
    margin-bottom: 10px;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input.doubled {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input.doubled .half{
    width: calc(50% - 10px);
}

.content .skill-list .add-skill-box .add-skill-form input {
    border-radius: 8px;
    box-shadow: none;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input .input-button {
    border: 1px solid #CCC;
    border-radius: 8px;
    height: 34px;
    display: flex;
    display: -webkit-flex;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input .input-button input{
    height: 100%;
    border: 0;
    padding: 6px 12px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input .input-button button{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    padding: 0 15px;
    font-weight: bold;
    background-color: #CCC;
}

.content .skill-list .add-skill-box .add-skill-form .skill-input .input-button button:hover{
    background-color: #BBB;
}

.content .skill-list .add-skill-box .add-skill-form .skill-alert {
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 16px;
}

.content .skill-list .add-skill-box .add-skill-form .skill-submit {
    margin: 20px 0 10px;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 0;
    padding: 8px 0;
    font-size: 17px;
    font-weight: bold;
    background-color: #CCC;
}

.content .skill-list .add-skill-box .add-skill-form .skill-submit:hover {
    cursor: pointer;
    background-color: #BBB;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* MENU POPUP */

.drawer-skill-info {
    width: 35%;
    position: fixed;
    height: 100%;
    right: -40%;
    top: 0;
    overflow-y: scroll;
    z-index: 5;

    -webkit-box-shadow: -2px 0px 9px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -2px 0px 9px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -2px 0px 9px 0px rgba(50, 50, 50, 0.5);

    background-color: white;
    transition: 0.4s;
    transition-timing-function: ease-out;
}

.drawer-skill-info.shown {
    right: 0%;
}

.drawer-skill-info .skill-info .skill-name {
    color: white;
    padding: 20px;
    position: relative;
}

.drawer-skill-info .skill-info .skill-name h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
    line-height: 1.3;
}

.drawer-skill-info .skill-info .skill-name p {
    margin: 0;
    font-size: 16px;
    color: white;
}

.drawer-skill-info .skill-info .skill-name .close-skill {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.drawer-skill-info .skill-info .skill-name .close-skill:hover {
    cursor: pointer;
    color: #E0E0E0;
}

.drawer-skill-info .mystatus-bar {
    display: flex;
    display: -webkit-flex;
}

.drawer-skill-info .mystatus-bar .status {
    width: 33.3%;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    font-weight: bold;
    color: white;
}

.drawer-skill-info .mystatus-bar .status:hover {
    cursor: pointer;
    background-color: #EEE;
}

.drawer-skill-info .free-bar {
    border-top: 1px solid #EEE;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #666;
}

.drawer-skill-info .free-bar .icon {
    color: #999;
    margin-right: 8px;
}

.drawer-skill-info .free-bar .icon:hover {
    cursor: pointer;
}

.drawer-skill-info .free-bar .icon .fa-stack-1x {
    font-size: 22px;
}

.drawer-skill-info .skill-info .skill-desc {
    border-top: 1px solid #EEE;
    background-color: white;
    padding: 20px;
}

.drawer-skill-info .skill-info .skill-desc h3 {
    margin: 0;
    color: #666;
    font-size: 18px;
    margin-bottom: 8px;
}

.drawer-skill-info .skill-info .skill-desc p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.drawer-skill-info .skill-info .skill-jupiter {
    font-size: 15px;
    text-align: right;
    margin-top: 10px;
}

.drawer-skill-info .skill-info .skill-jupiter a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.drawer-skill-info .skill-info .skill-exclude {
    display: block;
    margin: 20px auto;
    border: 0;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E5E5E5;
}

.drawer-skill-info .skill-info .skill-exclude:hover {
    background-color: #D0D0D0;
}

.drawer-skill-info .skill-info .skill-requires {
    padding: 20px;
    border-top: 1px solid #EEE;
}

.drawer-skill-info .skill-info .skill-requires h3 {
    font-size: 18px;
    color: #666;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.drawer-skill-info .skill-info .skill-requires .require {
    display: flex;
    display: -webkit-flex;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
}

.drawer-skill-info .skill-info .skill-requires .require:hover {
    cursor: pointer;
    background-color: #EEE;
}

.drawer-skill-info .skill-info .skill-requires .require img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.drawer-skill-info .skill-info .skill-requires .require h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 1px;
}

.drawer-skill-info .skill-info .skill-requires .require p {
    margin: 0 0 0;
    color: #888;
    height: 20px;
    overflow-x: hidden;
}

.drawer-skill-info .skill-info .skill-requires .require .skill-badge {
    width: 22px;
    height: 22px;
    border-radius: 40px;
    position: absolute;
    top: 35px;
    left: 45px;
    text-align: center;
    display: none;
}

.drawer-skill-info .skill-info .skill-requires .require .skill-badge span {
    font-size: 15px;
    color: #F2F2F2;
    padding-top: 4px;
}

.drawer-skill-info .skill-info .skill-requires .require.done h4,
.drawer-skill-info .skill-info .skill-requires .require.locked h4,
.drawer-skill-info .skill-info .skill-requires .require.doing h4 {
    color: #888 !important;
}

.drawer-skill-info .skill-info .skill-requires .require.done p,
.drawer-skill-info .skill-info .skill-requires .require.locked p,
.drawer-skill-info .skill-info .skill-requires .require.doing p {
    color: #AAA;
}

.drawer-skill-info .skill-info .skill-requires .require.done img,
.drawer-skill-info .skill-info .skill-requires .require.locked img,
.drawer-skill-info .skill-info .skill-requires .require.doing img {
    filter: grayscale(100%) opacity(50%);
}

.drawer-skill-info .skill-info .skill-requires .require.done .done-badge,
.drawer-skill-info .skill-info .skill-requires .require.locked .locked-badge,
.drawer-skill-info .skill-info .skill-requires .require.doing .doing-badge {
    display: block;
}


.drawer-skill-info .skill-info .skill-back {
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}

.drawer-skill-info .skill-info .skill-back:hover{
    cursor: pointer;
    color: #666 !important;
}

/* MENU LATERAL */

.search-bar {
    background-color: #3F51B5;
    text-align: center;
    padding: 8px 16px;
    position: relative;
}

.search-bar input{
    border: none;
    height: 30px;
    width: 100%;
    border-radius: 30px;
    padding: 0 15px;
    padding-right: 40px;
    font-size: 16px;
    color: #444;
}

.search-bar .search-icon {
    position: absolute;
    font-size: 20px;
    color: #CCC;
    padding: 10px;
    top: 2px;
    right: 18px;
}

.search-bar .search-icon:hover {
    color: #999;
    cursor: pointer;
}

.search-results {
    position: absolute;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
}

.search-results .search-result {
    background-color: white;
    border-bottom: 1px solid #EEE;
    display: flex;
    display: -webkit-flex;
    padding: 10px;
    position: relative;
}

.search-results .search-result:hover {
    cursor: pointer;
    background-color: #EEE;
}

.search-results .search-result img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.search-results .search-result h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 1px;
}

.search-results .search-result p {
    margin: 0 0 0;
    color: #888;
    height: 20px;
    overflow-x: hidden;
}

.search-results .search-result .skill-badge {
    width: 22px;
    height: 22px;
    border-radius: 40px;
    position: absolute;
    top: 32px;
    left: 32px;
    text-align: center;
    display: none;
}

.search-results .search-result .skill-badge span {
    font-size: 15px;
    color: #F2F2F2;
    padding-top: 4px;
}

.search-results .search-result.done h4,
.search-results .search-result.locked h4,
.search-results .search-result.doing h4 {
    color: #888 !important;
}

.search-results .search-result.done p,
.search-results .search-result.locked p,
.search-results .search-result.doing p {
    color: #AAA;
}

.search-results .search-result.done img,
.search-results .search-result.locked img,
.search-results .search-result.doing img {
    filter: grayscale(100%) opacity(50%);
}

.search-results .search-result.done .done-badge,
.search-results .search-result.locked .locked-badge,
.search-results .search-result.doing .doing-badge {
    display: block;
}

.side-entry {
    border-bottom: 1px solid #EEE;
    background-color: white;
    font-size: 17px;
    color: #666;
    padding: 8px 20px;
    display; flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.side-entry.divider {
    font-weight: bold;
    background-color: #F5F5F5;
    color: #444;
    font-size: 16px;
    padding: 5px 20px;
}

.side-entry .icon {
    color: #999;
    margin-right: 10px;
}

.side-entry .icon .fa-bolt {
    font-size: 26px !important;
}

.side-entry .icon:hover {
    cursor: pointer;
}

.side-entry .icon .fa-stack-1x {
    font-size: 22px;
}

.side-entry.total-credits {
    display: block;
    padding: 30px 20px 10px;
    text-align: center;
    font-size: 17px;
}

.side-prog {
    border-bottom: 1px solid #EEE;
    background-color: white;
    color: #666;
    padding: 8px 20px;
    font-size: 16px;
}

.side-prog .progress-name{
    text-transform: uppercase;
    letter-spacing: -0.3;
    font-weight: bold;
    font-size: 15px;
    color: #777;
}

.side-prog .progress-name .menu-caret {
    font-size: 20px;
    position: relative;
    left: 8px;
    top: 1px;
}

.side-prog .progress-name .menu-caret:hover {
    color: #999;
    cursor: pointer;
}

.side-prog .progress-subtitle{
    text-align: center;
}

.side-prog .pbar-wrap {
    margin: 10px 0;
    position: relative;
}

.side-prog .pbar{
    height: 10px;
    width: 100%;
    background-color: #DDD;
    border-radius: 5px;
}

.side-prog .pbar-list {
    margin: 5px 0 15px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.side-prog .pbar-list .pbar-skill {
    text-align: center;
    margin: 5px;
}

.side-prog .pbar-list img {
    height: 30px;
}

.side-prog .pbar-list .skill-code {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.5;
}

.side-prog .pbar-list img:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.side-prog .pbar-in{
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    transition: width 1s ease-out;
}

.side-entry.side-button {
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    border-top: 1px solid #EEE;
}

.side-entry.side-button:hover {
    cursor: pointer;
    background-color: #EEE
}

.congrats {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    font-size: 18px;
}

.footer {
    text-align: center;
    padding-bottom: 7px;
    font-size: 12px;
    color: #888;
    background-color: #DDD;
}

.footer .github {
    color: #888;
    font-size: 24px;
    position: relative;
    left: 5px;
    top: 4px;
}

.footer .github:hover {
    color: #444;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media(max-width: 767px) {

    .header .header-middle {
        margin: 0 10px;
    }

    .header .header-title {
        font-size: 32px;
    }

    .content .skill-list {
        margin-top: 50px;
    }

    .content .skill-list .tracks .track:first-child .skill-title {
        border-top: 1px solid #DDD;
    }

    .content .skill-list .skill-box {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .content .skill-list .skill-box .skill-wrap {
        width: 31%;
        flex-shrink: 0;
    }

    .content .skill-list .skill-box .skill-wrap .block-label {
        font-size: 12px;
        padding: 1px;
        width: 200%;
        margin-left: -50%;
        bottom: -20px;
    }

    .content .skill-list .skill-box .skill-wrap .block-label .fa {
        font-size: 16px;
        margin-left: 3px;
    }

    .content .skill-list .skill-box .skill-wrap .block-label.half-name {
        margin-left: 25%;
        width: 150%;
    }

    .content .skill-list .skill-box.doing {
        border-top: 1px solid #EEE;
    }

    .content .skill-list .add-skill-box .add-skill-form {
        width: 90%;
        left: 5%;
    }

    .drawer-skill-info {
        width: 90%;
        right: -95%;
    }

    .drawer-skill-info.shown {
        right: 0;
    }

    .footer {
        padding: 5px 10px;
        font-size: 11px;
        color: #999;
    }
}

/* CORES */

.light-gray {
    color: #999 !important;
}

.blue {
    color: #3F51B5 !important;
}

.border-blue {
    border-color: #3F51B5 !important;
}

.bg-blue {
    background-color: #3F51B5 !important;
}

.bg-light-blue {
    background-color: #e8e8fc !important;
}

.green {
    color: #4CAF50 !important;
}

.border-green {
    border-color: #4CAF50 !important;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.bg-light-green {
    background-color: #E8F5E9;
}

.dark-green {
    color: #449d48 !important;
}

.bg-dark-green {
    background-color: #449d48 !important;
}

.pink {
    color: #EC407A !important;
}

.border-pink {
    border-color: #EC407A !important;
}

.bg-pink {
    background-color: #EC407A !important;
}

.bg-light-pink {
    background-color: #ffeae8;
}

.teal {
    color: #009688 !important;
}

.border-teal {
    border-color: #009688 !important;
}

.bg-teal {
    background-color: #009688 !important;
}

.bg-light-teal {
    background-color: #d6fff0;
}

.orange {
    color: #FF9800 !important;
}

.border-orange {
    border-color: #FF9800 !important;
}

.bg-orange {
    background-color: #FF9800 !important;
}

.bg-light-orange {
    background-color: #fff6e9;
}

.red {
    color: #EF5350 !important;
}

.border-red {
    border-color: #EF5350 !important;
}

.bg-red {
    background-color: #EF5350 !important;
}

.bg-light-red {
    background-color: #ffe5e8;
}

.dark-red {
    color: #d22218 !important;
}

.border-dark-red {
    border-color: #d22218 !important;
}

.bg-dark-red {
    background-color: #d22218 !important;
}

.purple {
    color: #8a229b !important;
}

.bold {
    font-weight: bold !important;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}